<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JWTAuthApi.demo.mapper.RefreshTokenRepository">

    <insert id="saveRefreshToken" useGeneratedKeys="true" keyProperty="id">
        insert into REFRESH_TOKEN(user_id, value)
        values (#{userId}, #{value})
    </insert>

    <select id="findRefreshToken" resultType="RefreshToken">
        select *
        from REFRESH_TOKEN
        where user_id = #{userId}
    </select>

    <update id="updateRefreshToken">
        update REFRESH_TOKEN
        set value = #{value}
        where user_id = #{userId}
    </update>

    <delete id="deleteRefreshToken">
        delete
        from REFRESH_TOKEN
        where value = #{value}
    </delete>
</mapper>