<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JWTAuthApi.demo.mapper.UserRepository">

    <insert id="saveUser" useGeneratedKeys="true" keyProperty="userId">
        insert into USER(email, password, username, provider_type, role_type)
        values (#{email}, #{password}, #{username}, #{providerType}, #{roleType})
    </insert>

    <select id="findByEmail" resultType="User">
        select user_id, email, password, username, provider_type, role_type
        from USER
        where email = #{email}
    </select>

    <select id="findById" resultType="User">
        select user_id, email, password, username, provider_type, role_type
        from USER
        where user_id = #{userId}
    </select>

    <update id="updateUser">
        update USER
        set username = #{username}
        where user_id = #{userId}
    </update>

    <update id="updateUserPassword">
        update USER
        set password = #{password}
        where user_id = #{userId}
    </update>
</mapper>